* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
canvas {
  position: absolute;
  top: 0;
  left: 0;
}
body {
  background: #ffffff;
  overflow: hidden;
}
.container {
  color: rgba(55, 59, 65, 0.8);
  font-family: Helvetica, sans-serif;
  font-weight: lighter;
  text-align: center;
}

h1 {
  font-weight: normal;
}
li {
  display: inline-block;
  font-size: 1.5em;
  list-style-type: none;
  padding: 1em;
  text-transform: uppercase;
}
li span {
  display: block;
  font-size: 4.5rem;
}

.image-container {
  position: absolute;
  width: 70%;
  height: auto;
  max-width: 70%;
  top: 65%;
}
.text-overlay {
  position: absolute;
  top: 65%;
  left: 70%;
  /* transform: translate(-50%, -50%); */
  text-align: center;
  color: white;
  font-size: 1rem;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
  z-index: 3;
}
#birthdayImage {
  width: 70%;
  height: auto;
  max-width: 70%;
  position: absolute;
  top: 70%;
  left: 80%;
  transform: translate(-50%, -50%);
  z-index: 1;
  opacity: 0; 
  transition: opacity 2s ease-in; 
  
}

@media (max-width: 320px) {
  #birthdayImage {
    width: 85%;
    top: 70%;
    left: 80%;
  }
  .image-container {
    top: 65%;
  }
  
  .text-overlay {
    left: 64%;
  }

  .card{    
    left: 50%;
  }
}
  @import url('https://fonts.googleapis.com/css?family=Indie+Flower');
  @import url('https://fonts.googleapis.com/css?family=Amatic+SC');

  body {
    font-family: 'Indie Flower', cursive !important;
    margin: 0px;
    padding: 0px;
  }

  ::selection {
      background: transparent;
  }

  h4 {
  color: #003152;
      font-size: 26px;
      line-height: 1px;
      font-family: 'Amatic SC', cursive !important;
  }

  .color1{color:#30BA8F}/*MOUNTAIN MEADOW*/
  .color2{color:#00ADB2/*TALL POPPY*/}


  .card {
      color: #1D2951; /*SHERPA BLUE*/
      position: absolute;
      top: 50%;
      left: 50%;
      width: 300px;
      height: 400px;
      background: #d1ffff;
      transform-style: preserve-3d;
      transform: translate(-50%,-50%) perspective(2000px);
      box-shadow: inset 300px 0 50px rgba(0,0,0,.5), 20px 0 60px rgba(0,0,0,.5);
      transition: 2s;
      display: none; /* Hidden initially */
      opacity: 0; /* Start with opacity 0 */
      transition: opacity 1.5s ease-in-out; /* Smooth fade-in effect */
  }

  .card:hover {
      transform: translate(-50%,-50%) perspective(2000px) rotate(5deg) scale(1.2);
      box-shadow: inset 20px 0 50px rgba(0,0,0,.5), 0 10px 100px rgba(0,0,0,.5);
  }

  .card:before {
      content:'';
      position: absolute;
      top: -5px;
      left: 0;
      width: 100%;
      height: 5px;
      background: #d1ffff;
      transform-origin: bottom;
      transform: skewX(-45deg);
  }

  .card:after {
      content: '';
      position: absolute;
      top: 0;
      right: -5px;
      width: 5px;
      height: 100%;
      background: #d1ffff;
      transform-origin: left;
      transform: skewY(-45deg);
  }

  .card .imgBox {
      width: 100%;
      height: 100%;
      position: relative;
      transform-origin: left;
      transition: .7s;
  }

  .card .bark {
      position: absolute;
      background: #dbffff;
      width: 100%;
      height: 100%;
      opacity: 0;
      transition: .7s;
  }

  .card .imgBox img {
      min-width: 250px;
      max-height: 400px;
  }

  .card:hover .imgBox {
      transform: rotateY(-135deg);
  }

  .card:hover .bark {
      opacity: 1;
      transition: .6s;
    box-shadow: 300px 200px 100px rgba(0, 0, 0, .4) inset;
  }

  .card.active { 
    /* Menambahkan class active untuk sentuhan perangkat */
    opacity: 1; 
    display: block;
  }

  .card .details {
      position: absolute;
      top: 0;
      left: 0;
      box-sizing: border-box;
      padding: 0 0 0 10px;
      z-index: -1;
      margin-top: 30px;
  }

  .card .details p {
    font-size: 13px;
    line-height: 5px;
    padding: 0 20px 0 20px;
    line-height: 1.5;
  }

  .card .details h4 {
      text-align: center;
  }

  .text-right {
      text-align: right;
  }

@media (max-width: 768px) {
  #birthdayImage {
    width: 85%;
    top: 70%;
    left: 80%;
  }
  .text-overlay {
    left: 64%;
  }
  .image-container {
    top: 65%;
  }
  .card{    
    left: 50%;
  }
  
}
@media (min-width: 1200px) {
  #birthdayImage {
    width: 30%;
    top: 90%;
    left: 75%;
  }
  .image-container {
    top: 80%;
  }
  .card .details p {
    font-size: 12px;
  }
}

.merrywrap {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}
.giftbox {
  position: absolute;
  width: 300px;
  height: 200px;
  left: 50%;
  margin-left: -150px;
  bottom: 0;
  z-index: 10;
}
.giftbox > div {
  background: #F64747;
  position: absolute;
  box-shadow: 5px 10px 18px rgba(0, 0, 0, 0.4);
}
.giftbox > div:after, .giftbox > div:before {
  position: absolute;
  content: "";
  top: 0;
}
.giftbox:after {
  position: absolute;
  color: #fff;
  width: 100%;
  content: "Click Me!";
  left: 0;
  bottom: 0;
  font-size: 24px;
  text-align: center;
  transform: rotate(-20deg);
  transform-origin: 0 0;
}
.giftbox .cover {
  width: 100%;
  top: 0;
  left: 0;
  height: 25%;
  z-index: 2;
}
.giftbox .cover:before {
  position: absolute;
  height: 100%;
  left: 50%;
  width: 50px;
  transform: translateX(-50%);
  background: #2C3E50;
}
.giftbox .cover > div {
  position: absolute;
  width: 50px;
  height: 50px;
  left: 50%;
  top: -50px;
  transform: translateX(-50%);
}
.giftbox .cover > div:before, .giftbox .cover > div:after {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  content: "";
  box-shadow: inset 0 0 0 15px #2C3E50;
  border-radius: 30px;
  transform-origin: 50% 100%;
}
.giftbox .cover > div:before {
  transform: translateX(-45%) skewY(40deg);
}
.giftbox .cover > div:after {
  transform: translateX(45%) skewY(-40deg);
}
.giftbox .box {
  right: 5%;
  left: 5%;
  height: 80%;
  bottom: 0;
}
.giftbox .box:before {
  width: 50px;
  height: 100%;
  left: 50%;
  transform: translateX(-50%);
  background: #2C3E50;
}
.giftbox .box:after {
  width: 100%;
  height: 30px;
  background: rgba(0, 0, 0, 0);
}
.step-1 .giftbox {
  animation: wobble 0.5s linear infinite forwards;
}
.step-1 .cover {
  animation: wobble 0.5s linear infinite 5s forwards;
}
.step-1 .icons .row span {
  opacity: 1;
}
.step-2 .giftbox:after {
  opacity: 0;
}
.step-3 .giftbox, .step-4 .giftbox {
  opacity: 0;
  z-index: 1;
}
.step-3 .giftbox:after, .step-4 .giftbox:after {
  opacity: 0;
}
.step-2 .giftbox .cover {
  animation: flyUp 2s ease-in forwards;
}
.step-2 .giftbox .box {
  animation: flyDown 2s ease-in 0.05s forwards;
}
@keyframes wobble {
  25% {
      transform: rotate(4deg);
 }
  75% {
      transform: rotate(-2deg);
 }
}
@keyframes flyUp {
  75% {
      opacity: 1;
 }
  100% {
      transform: translateY(-1000px) rotate(20deg);
      opacity: 0;
 }
}
@keyframes flyDown {
  75% {
      opacity: 1;
 }
  100% {
      transform: translateY(100%);
      opacity: 0;
 }
}
